* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about{

}
.about .instruction-section{
    display: flex;
    margin: 5px;
    padding: 20px;

}
.about .instruction-section h1{
    font-size: 4rem; margin: 0 50px;
}
.about .instruction-section p{
    font-size: 1.25rem;
}
.about .aboutus-banner{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: auto;
    text-align: center;
}
.about .aboutus-banner img{
    width: 90%;
    height: 100%;
}
.about .explore-container{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.about .explore-main h2{
    font-size: 40px ;
    margin-bottom: 50px;
    text-align: center;
}
.about .explore-main p{
    font-size: 20px;
    padding: 5px;
    margin: 20px 0;
}
.about .explore-banner{
    width: 100%;
    height: 100%;
}
.about .explore-container img{
    width: 100%;
    height: 100%;
}
