* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.account-layout-container .main-content {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "sidebar main-content";
    gap: 0 50px;
    margin: 50px;
}

.account-layout-container .account-sidebar{
    grid-area: sidebar;
}
.account-layout-container .content {
    grid-area: main-content;
}