* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Car-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
    list-style: none;
}

.filter-container {
    margin: 20px auto;
    text-align: center;
}

.filter-container label {
    margin: 0 20px;
    font-weight: bold;
}

.filter-container label select {
    margin: 0 20px;
    padding: 5px;
}

.filter-no-found{
    text-align: center;
    margin: 50px 0;
    color: red;
}