* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Car-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
    list-style: none;
}