* {
    padding: 0px;
    margin: 0px;
}

.cart-container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(144, 216, 167);
    font-family: Arial, Helvetica, sans-serif;

}

.cart-list {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.cart-item{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    background-color: white;
}
.cart-list .item-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border-bottom: 1px solid;
    background-color: rgb(255,255,255);
}

.cart-list .item-name {
    font-weight: bold;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.item-details p {
    font-weight: bold;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional-info>div {
    margin: 0 20px;

}

.additional-info .info-label {
    font-weight: bold;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cart-actions button {
    width: 60px;
    padding: 10px;
    height: 40px;
    margin: 5px;
}