* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px 1fr;
  gap: 50px;
  margin: 50px;
  grid-template-areas:
    "avatar avatar avatar"
    "description description rent-box"
    "feature feature feature"
    "other-amenities other-amenities other-amenities";
  overflow: hidden;
}

/* car avatar section */
.car-avatar {
  grid-area: avatar;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 200px 200px;
  gap: 0 10px;
  grid-template-areas:
    "main other"
    "main other";
  border-bottom: 1px solid black;
}

.other-avatar {
  grid-area: other;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.main-avatar-fix {
  grid-area: main;
  width: 95%;
  height: 500px;
  border-radius: 5px;
}

.main-avatar-fix img {
  width: 100%;
  height: 100%;
}

.car-avatar-1-fix,
.car-avatar-2-fix,
.car-avatar-3-fix {
  width: 45%;
  margin: 10px;
  height: 230px;
}

.car-avatar-1-fix img,
.car-avatar-2-fix img,
.car-avatar-3-fix img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.detail-container .rent-box {
  grid-area: rent-box;
  border-radius: 5px;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* car description section */
.car-description {
  grid-area: description;
  padding: 20px;
  background-color: #eeeeee;
}

.car-description h3 {
  font-weight: bold;
  font-size: 30px;
}

.car-description p {
  font-size: 20px;
  margin: 10px 0;
}

.car-description h1 {
  font-size: 50px;
  margin: 10px 0;
}

/* rent box section */
.rent-box {
  background-color: #00ffc8;
}

.rent-box h2 {
  font-size: 40px;
}

.rent-box .date-time-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.rent-box .date-time-form div {
  border: 2px solid gray;
  padding: 5px;
  background-color: white;
}

.rent-box .date-time-form p {
  font-size: 20px;
  font-weight: bold;
}

.rent-box .date-time-form input {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  margin: 5px 0;
}

.rent-box .location {
  padding: 10px 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

.rent-box .price-form-container {
  background-color: white;
  margin: 20px 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.rent-box .price-form-container .price-items {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.rent-box .price-form-container .price-items p {
  font-weight: bold;
}

.rent-box .price-form-container .rent-btn {
  text-align: center;
}

.rent-box .price-form-container button {
  margin: auto;
}

.rent-box .rent-actions {
  display: flex;
  justify-content: space-around;
}

.rent-box .rent-actions button {
  height: 40px;
  padding: 5px;
  font-size: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
}

.rent-box .rent-actions button:hover {
  cursor: pointer;
  background-color: rgb(255, 254, 254);
  color: rgb(0, 0, 0);
}
/* feature section */
.car-feature-container {
  min-height: 100%;
  min-width: 100%;
  grid-area: feature;
}

.car-feature-container hr {
  margin: 50px;
}

.car-feature-container h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.car-feature-box {
  display: flex;
  justify-content: space-evenly;
}

.car-feature-box .car-feature-icon-fix {
  width: 100px;
  height: 100px;
}

.car-feature-box .car-feature-icon-fix img {
  width: 100%;
  height: 100%;
}

.car-feature-box .car-feature-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "feature-icon feature-title"
    "feature-icon feature-content";
  gap: 5px;
}

.car-feature-box .car-feature-icon-fix {
  grid-area: feature-icon;
}

.car-feature-box .car-feature-item h5 {
  grid-area: feature-title;
  font-size: 20px;
  margin-top: 20px;
}

.car-feature-box .car-feature-item p {
  grid-area: feature-content;
  font-size: 20px;
}

/*car-other-amenities section*/
.car-other-amenities {
  grid-area: other-amenities;
}

.car-other-amenities h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.car-other-amenities h3 {
  font-size: 20px;
  color: red;
}

.other-amenities {
  height: 1000px;
}

.other-amenities-container {
  margin-bottom: 20px;
}

.other-amenities-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.other-amenities-list li {
  flex: 1 1 calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .other-amenities-list li {
    flex: 1 1 100%;
  }
}

