
.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: auto;
  }
  
  .car-avatar {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap : 20px;
    grid-template-areas:
     
      "main other-1"
      "main other-2"
      "main other-3";
  }
  
  .main-avatar-fix {
    grid-area: main;
    
  }
  
  .car-avatar-1-fix {
    grid-area: other-1;
  }
  
  .car-avatar-2-fix {
    grid-area: other-2;
  }
  
  .car-avatar-3-fix {
    grid-area: other-3;
  }
  
  .car-avatar-1-fix,
  .car-avatar-2-fix,
  .car-avatar-3-fix {
    width: 200px;
    height: 150px; 
  }
  
  .car-avatar-1-fix img,
  .car-avatar-2-fix img,
  .car-avatar-3-fix img {
    width: 100%;
    height: 100%;
  }
  