* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  text-align: center;
  height: 100px;
  background-color: #01d293;
  border: 1px solid black;
  border-radius: 1px;
}

/*logo section*/
.header .logo-container {
  text-decoration: none;
  height: 80px;
  display: flex;
  align-items: center;
}

.header .logo-container img {
  height: 60%;
  margin: 0 20px;
}

.header .logo-container img:hover {
  transition: transform 1s ease-in-out;
  transform: scale(1.2);
}

.header .logo-container a {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.header .logo-container a:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

/*navagation section*/
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: black;
  margin: 0 5px;
  position: relative;
  /* Added relative positioning for the a element */
}

.navigation a:hover {
  background-color: black;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Added box-shadow on hover */
}

/*user drop down section*/
.navigation .hello-user {
  padding: 10px;
  margin: 0 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.hello-user {
  font-size: 16px;
  color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-content a:hover {
  background-color: rgb(8, 8, 8);
  color: white;
  border-radius: 5px;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.dropdown-content button:hover {
  transform: scale(1.1);
}

/*login button*/
.header .user-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .user-login button {
  padding: 10px 5px;
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  border-radius: 5px;
  border: 1px solid black;
}
.header .user-login a:hover button{
  background-color :black;
  color: white;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}