* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1000;
    text-align: center;
    height: 80px;
    background-color : rgb(64,180,140);
    border-radius: 1px;
    margin-bottom: 30px;
}

.header .logo-container {
    text-decoration: none;
}

.header .logo-container a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navigation {
    display: flex;
    justify-content: space-around;

}

.navigation a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: black;
    margin: 0 5px;

}

.navigation .line {

    border: 1px solid black;
    margin: 0 5px;

}