* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-content {
    width: 100vw;

}

.banner-container {
    width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
}

.banner-container .background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../assets/img/banner.jpg");
    background-size: cover;
    background-repeat: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-container h1 {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    margin: 10px;
    -webkit-text-stroke: 1px rgb(15, 13, 13);
    font-weight: bolder;
}

.banner-container .line {
    border: 1px solid white;
    height: 1px;
    width: 40%;

}

.banner-container h5 {
    font-size: 2rem;
    color: white;
    margin: 10px;
    -webkit-text-stroke: 1px rgb(23, 22, 22);
    font-weight: bolder;
}

.banner-container h5 span {

    color: rgb(15, 225, 120);
    -webkit-text-stroke: 1px rgb(16, 16, 16);

}

.promo-section {
    
}

.promo-section h2 {
    text-align: center;
    margin: 12px;
    font-size: 2.5rem;
}

.promo-section h5 {
    text-align: center;
    margin: 12px;
    font-size: 24px;
    font-weight: 400;
}

.promo-section ul {
    display: flex;
    height: 250px;
    width: 350px;
    list-style: none;
    justify-content: space-between;
    width: 80%;
    border-radius: 1px solid black;
    border: 1px;
}

.promo-section ul li {
    height: 250px;
    width: 350px;
    margin: 10px;

}

.promo-section ul li img {
    height: 100%;
    width: 100%;

}