* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

table {
  width: 400px;
  border-collapse: collapse;
  background-color: whitesmoke;
  border-radius: 20px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

input {
  width: 70%;
  font-size: 17px;
  border-radius: 10px;
  font-style: Arial;
  padding: 5px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 25px;
}