* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.notify-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.notify-button {
    border: 2px solid black;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 214, 217);
    text-align: center;
}

.notify-container .notification {
    position: relative;
}

.notify-container .notification i {
    background-color: rgb(65, 214, 217);
    color: black;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.num {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 1px solid black;
    width: 60%;
    top: 5%;
    left: 20%;
    height: 80%;

}

.modal-content {}

.modal.show {
    display: block;
}

.notify-container .modal-header {
    text-align: center;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    text-align: center;
    border-top: 1px solid black;
    margin-top: 20px;
    padding: 10px 0;
}

.modal-footer button {

    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.body {
    margin-top: 20px;
    background: #FFF5EE;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
    white-space: nowrap;
}



.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}

table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}

.fa-arrow-up {
    color: #00CED1;
}

.fa-arrow-down {
    color: #FF00FF;
}