* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-card-box {
    width: 250px;
    height: 350px;
    padding: 16px 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.product-card-box .product-fix-img{
    width: 95%;
    height: 250px;
    margin: auto;
}
.product-card-box .product-fix-img img{
    width: 100%;
    height: 100%;
    border: 1px solid #0000;
    border-radius: 5px;
}