* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-card-box {
    width: 320px;
    height: 400px;
    padding: 16px 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
}

.product-card-box .product-fix-img {
    width: 95%;
    height: 220px;
    margin: auto;
}

.product-card-box .product-fix-img img {
    width: 100%;
    height: 100%;
    border: 1px solid #0000;
    border-radius: 5px;
}

.product-card-actions {
    margin: 5px;
    display: flex;
    justify-content: space-around;
}


.product-card-actions .delivery,
.product-card-actions .transmission {
<<<<<<< HEAD
    padding: 0px 10px;
    margin: 0 5px;
=======
    padding: 5px 10px;
>>>>>>> c7a82b555faa54a227a006c35242855fc4cde98d
    font-size: 15px;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(10, 9, 9);
    font-weight: bold;
    text-align: center;
    background-color: aqua;
<<<<<<< HEAD
=======

>>>>>>> c7a82b555faa54a227a006c35242855fc4cde98d
}



.product-card-box .address-box {
    font-family: 'Times New Roman', Times, serif;
    height: 20px;
    width: 30%;
    margin: 5px;
    text-decoration: none;
    display: flex;
}

.product-card-box .address-box img {
    width: 20px;
    height: 80%;
}



.product-card-box .desc-name {
    padding: 0 30px;
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 18px;
}

.product-card-box .available_green {
    display: block;
    width: 100px;
    text-align: center;
    background-color: rgb(23, 185, 23);
    padding: 5px;
    border-radius: 5px;
}
.product-card-box .available_red {
    display: inline-block;
    width: 100px;
    height: 15px;
    text-align: center;
    background-color: rgb(225, 48, 48);
    padding: 5px;
    border-radius: 5px;
}





.product-card-box .line {
    width: 95%;
    margin: 5px;
    border: 1px solid black;
}

.info-price {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.info-price .info {
    display: flex;
    justify-content: space-around;
}

.info-price .star-info {
    display: flex;
    justify-content: space-around;
}

.info-price .star,
.info-price .star {
    margin: 0 5px;
}

.fix-icon img {
    height: 15px;
    width: 15px;

}

.info-price .price {
    font-weight: bold;
}