/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}  */
.register-page{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#formRegister {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: whitesmoke;
    margin-bottom: 20px;
    width: 35%;
}



#text{
    margin-bottom: 10px;
    width: 80%;
    border-radius: 225px;
    font-size: 20px;
}

#btndk {
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #5fcf86;
    color: #fff;
    width: 100px;
    height: 30px;
    font-size: 16px;
}