* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar-container {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 20px;
  background-color: aqua;
  height: 100%;
}

.sidebar-container h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.sidebar-container div {
  margin: 20px 0;
}

.sidebar-container p {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s;
}

.sidebar-container p:hover {
  background-color: black;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.sidebar-container p a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: color 0.3s;
}

.sidebar-container p:hover a {
  color: white;
}