* {
    padding: 0px;
    margin: 0px;
}

.slider {
    margin: 30px auto;
}

.slider .image-container {
    width: 70%;
    height: 500px;
    margin: auto;
}

.slider .image-container img {
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
}